@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;background-color: #fafaff;
    color: #23252f;
}

header{
    margin-top: 3%;
    margin-bottom: 3%;
    height: 2vh;
    display: flex;
    justify-content: center;
}

.info-bar-cont h5{
    margin-right: 2%;
}

.info-bar-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46vw;
    text-align: center;
    
}
.info-bar{
    margin-bottom: 2%;
    text-align: center;
}

.demo h2{
    margin-bottom: 2vh;
}

.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60vw;
    height: 3vh;
    background-color: #23252f;
}

.nav ul li{
    list-style: none;
    background-color: #23252f;
}

.nav ul li a{
    text-decoration: none;
    margin-right: 75px;
    background-color: transparent;
    color: white;
}

.nav ul{
    display: flex;
}

.proj-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.proj-info h1{
    margin-bottom: 1%;
    font-size: 35px;
}

.problem-desc{
    
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 46vw;
}

.problem-desc h2{
    margin-bottom: 2vh;
}

.our-solution{
    width: 46vw;
    margin-bottom: 4vh;
}

.our-solution h2{
    margin-bottom: 2vh;
}

.sketches-ideas h2{
    margin-bottom: 2vh;
}

.sketches-ideas p{
    margin-bottom: 4vh;
}
.sketches-variations h2{
    margin-bottom: 2vh;
}
.sketches-ideas{
    margin-bottom: 2vh;
}

.sketches-variations{
    margin-bottom: 2vh;
}

.img-grid{
    display: flex;
    flex-direction: column;
    width: 46vw;
    height: 100%;
    justify-items: center;
    align-content: center;

}

.img-grid2{
    display: flex;
    flex-direction: column;
    width: 46vw;
    height: 100%;
    justify-items: center;
    align-content: center;
    margin-top: 4vh;

}

.img-grid2 p{
    margin-bottom: 3vh;
}


.sketch-item{
    display: flex;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
}

.sketch-p{
    width: 25%;
    margin-left: 2%;
}

.my-cont{
    width: 46vw;
    margin-bottom: 8vh;
    margin-top: 4vh;
}

.my-cont h2{
    margin-bottom: 2vh;
}

.my-cont ul li{
    list-style: none;
    line-height: 30px;
}
