@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;background-color: #fafaff;
    color: #23252f;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    margin-top: 3%;
    height: 60px;
    width: 100%;
    max-width: 1360px;

}

.info-bar-cont h5{
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.info-bar-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 80%;
    font-size: medium;
    text-align: center;

    
}
.info-bar{
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1350px;

}

.demo{
    position: relative;
    width: 90%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    
}

.demo#d2{
    margin-top: 2%;
}

iframe{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #23252f;
}

.nav ul li{
    list-style: none;
    background-color: #23252f;
    
}

.nav ul li a{
    text-decoration: none;
    margin-right: 37.5px;
    margin-left: 37.5px;
    background-color: transparent;
    color: white;
}

.nav ul{
    display: flex;
}

.proj-info{
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1360px;

    
}

.proj-info h1{
    margin-bottom: 1%;
    font-size: 35px;
}

.problem-desc{
    
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 75%;
    max-width: 1600px;
}

.problem-desc h2{
    margin-bottom: 2vh;
}

.our-solution{
    margin-bottom: 4vh;
    width: 75%;
    max-width: 1600px;
}

.our-solution h2{
    margin-bottom: 2vh;
}

.sketches-ideas h2{
    margin-bottom: 2vh;
}

.sketches-ideas p, .sketches-variations p{
    margin-bottom: 4vh;
    text-align: center;
    width: 80%;
}
.sketches-variations h2{
    margin-bottom: 2vh;
}
.sketches-ideas, .sketches-variations{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1600px;
}



.img-grid{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-items: center;
    align-content: center;

}

.img-grid2 p, .img-grid p{
    margin-bottom: 3vh;
}


.sketch-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    justify-content: center;
    align-items: center;
}

.sketch-p{
    width: 80%;
    max-width: 700px;
    margin-left: 2%;
    margin-top: 3vh;
}


.sketch-item img{
    width: 90%;
    max-width: 700px;
    border-radius:15px;
}

.my-cont{
    width: 46vw;
    margin-bottom: 8vh;
}

.my-cont h2{
    margin-bottom: 2vh;
}

.my-cont ul li{
    list-style:circle;
    line-height: 30px;
}

.code-info{
    display: flex;
    width: 15%;
    justify-content: space-evenly;
    margin-top: 1%;
}